/* line 1, c:/gw_temp/sass/etc.scss */
#wrapper {
  width: 1002px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
/* line 10, c:/gw_temp/sass/etc.scss */
#header {
  height: 150px;
  background: #FFE680;
}

/* Middle
-----------------------------------------------------------------------------*/
/* line 16, c:/gw_temp/sass/etc.scss */
#middle {
  width: 100%;
  padding: 0 0 100px;
  height: 1%;
  position: relative;
}

/* line 22, c:/gw_temp/sass/etc.scss */
#middle:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

/* line 29, c:/gw_temp/sass/etc.scss */
#container {
  width: 100%;
  float: left;
  overflow: hidden;
}

/* line 34, c:/gw_temp/sass/etc.scss */
#content {
  padding: 0 270px 0 270px;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
/* line 40, c:/gw_temp/sass/etc.scss */
#sideLeft {
  float: left;
  width: 250px;
  margin-left: -100%;
  position: relative;
  background: #B5E3FF;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
/* line 50, c:/gw_temp/sass/etc.scss */
#sideRight {
  float: left;
  margin-right: -3px;
  width: 250px;
  margin-left: -250px;
  position: relative;
  background: #FFACAA;
}

/* Footer
-----------------------------------------------------------------------------*/
/* line 61, c:/gw_temp/sass/etc.scss */
#footer {
  width: 1002px;
  margin: -100px auto 0;
  height: 100px;
  background: #BFF08E;
  position: relative;
}
