/*Reset CSS*/
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 15px;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

p,
pre {
  margin: 0 0 1em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Scaffolding CSS*/
/* Main
-----------------------------------------------------------------------------*/
body {
  background: white;
  font: 12px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333333;
}

html,
button,
input,
select,
textarea {
  font: 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
}

hr {
  clear: both;
  border: none;
  width: 90%;
  height: 1px;
  background: #999999;
  color: #999999;
  margin: 1em auto 1em;
  text-align: center;
}

#wrapper {
  width: 1002px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
  height: 150px;
  background: #ffe680;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
  width: 100%;
  padding: 0 0 100px;
  height: 1%;
  position: relative;
}

#middle:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

#container {
  width: 100%;
  float: left;
}

#content {
  padding: 0 250px 0 250px;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#side-left {
  float: left;
  width: 250px;
  margin-left: -100%;
  position: relative;
  background: #b5e3ff;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#side-right {
  float: left;
  margin-right: -3px;
  width: 250px;
  margin-left: -250px;
  position: relative;
  background: #ffacaa;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
  width: 100%;
  margin: -100px auto 0;
  height: 100px;
  background: #bff08e;
  position: relative;
}

#footer-block {
  margin: 0 auto;
  width: 1002px;
  height: 100%;
  background: #d8f5ba;
}

/*Base CSS*/
h1 {
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}
h3 small {
  font-size: 14px;
}

h4,
h5,
h6 {
  line-height: 18px;
}

h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

a {
  color: #049cdb;
  text-decoration: underline;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a:visited {
  color: #9d261d;
}
a:hover {
  text-decoration: none;
}

a.dashed {
  text-decoration: none;
  border-bottom: 1px dashed #049cdb;
}
a.dashed:hover {
  border-bottom: none;
}
a.dashed:visited {
  border-bottom: 1px dashed #9d261d;
}

a.psevdo {
  text-decoration: none;
}
a.psevdo span {
  color: #049cdb;
  text-decoration: underline;
}
a.psevdo:visited span {
  color: #9d261d;
}
a.psevdo:hover span {
  text-decoration: none;
}
a.psevdo:visited:hover span {
  color: #9d261d;
}

a.psevdo.dashed {
  border-bottom: none;
}
a.psevdo.dashed span {
  text-decoration: none;
  border-bottom: 1px dashed #049cdb;
}
a.psevdo.dashed:visited span {
  border-bottom: 1px dashed #9d261d;
}
a.psevdo.dashed:hover span {
  border-bottom: none;
}

.ico {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

#header .row-top {
  height: 50px;
}
#header .row-middle {
  height: 50px;
}
#header .row-bottom {
  height: 50px;
}

.logo {
  margin: 7px 0 0 12px;
  float: left;
}
.logo h3 {
  position: absolute;
  left: 0;
  top: 38px;
  font-size: 18px;
  color: #282828;
  white-space: nowrap;
}

#page-title {
  color: inherit;
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
  margin: 10px 25px;
}

.copyright {
  float: left;
  margin: 5px 0 0 0;
}

.links {
  float: right;
  margin: 12px 0 0 0;
}

.address {
  margin: 15px 0 0 0;
  padding: 0;
}

#footer .row-top {
  height: 0;
}
#footer .row-middle {
  height: 0;
}
#footer .row-bottom {
  height: 0;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
.uneditable-input {
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/*Blocks CSS*/
.news_block {
  margin: 6px 0 0;
  width: 280px;
}
.news_block h3 {
  color: #303030;
  text-transform: uppercase;
}
.news_block h3 a {
  color: #0e236f;
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 0 15px;
  text-transform: none;
}
.news_block .list_nwes {
  padding: 0;
}
.news_block .list_nwes .news_box {
  background: none no-repeat scroll 0 0 #f4f4f4;
  margin-bottom: 30px;
  padding: 15px 0;
}
.news_block .list_nwes .news_box span {
  clear: both;
  color: #5e5e5e;
  display: block;
  font-size: 14px;
  margin: 0 0 5px 0;
}
.news_block .list_nwes .news_box div {
  margin: 5px 0;
}
.news_block .list_nwes .news_box a {
  color: #0e236f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

h2 a.in, h1 a.in {
  display: inline-block;
  font-family: Trebuchet MS,sans-serif;
  font-size: 12px;
  font-style: italic;
  margin-left: 10px;
  text-transform: none;
  word-spacing: normal;
}

.form .text {
  background: none repeat scroll 0 0 white;
  border: none;
  line-height: 1em;
  color: #cacaca;
  padding: 0.25em;
  font-size: 12px;
  outline: medium none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.form .btn {
  border: 1px solid #cccccc;
  cursor: pointer;
  line-height: 18px;
  padding: 0.25em;
  font-size: 12px;
}

.breadcrumbs {
  list-style: none;
  background-color: white;
  color: #333333;
  font-size: 12px;
  margin: 0 0 15px;
  padding: 8px 10px;
}
.breadcrumbs li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.breadcrumbs li a {
  color: #049cdb;
  line-height: 18px;
}
.breadcrumbs li span {
  padding: 0 5px;
}

.nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.nav.main {
  text-align: center;
}
.nav.main > li {
  margin: 0 -3px 0 0;
  position: relative;
  vertical-align: top;
  word-spacing: normal;
  z-index: 1110;
}
.nav.main > li:first-child {
  background: none;
  border: medium none;
}
.nav.main > li > a {
  color: #049cdb;
  display: inline-block;
  font-size: 14px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: Georgia, serif;
}

.nav > li.open > a, .nav > li.open > a:hover, .nav > li > a:hover {
  color: #9c8123;
  text-decoration: none;
}

.nav > li.active > a {
  text-decoration: none;
  cursor: default;
  color: #9c8123;
}

.nav > li.active > a:hover {
  text-decoration: none;
}

.nav.main.sub > li ul {
  list-style: none outside none;
  display: none;
  left: 0;
  padding: 0;
  position: absolute;
  top: 27px;
  z-index: 1112;
}
.nav.main.sub > li ul li {
  background: none repeat scroll 0 0 #66625e;
  margin: 0;
  border-bottom: 1px solid #E5E5E5;
}
.nav.main.sub > li ul li a {
  color: white;
  display: block;
  padding: 8px 14px;
  text-transform: none;
  text-decoration: none;
  font-size: 13px;
}

.nav.side li {
  display: block;
  line-height: 18px;
}
.nav.side li a {
  display: block;
  border: 1px solid #E5E5E5;
  margin: 0 0 -1px;
  padding: 8px 14px;
}

/*Misc CSS*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

ul.reset {
  margin: 0;
  padding: 0;
}
ul.reset li {
  list-style: none;
}

input.reset,
button.reset {
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.ok {
  color: #46a546;
}

.error {
  color: #9d261d;
}
