/*Reset CSS*/
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 15px;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

p,
pre {
  margin: 0 0 1em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Scaffolding CSS*/
/* Main
-----------------------------------------------------------------------------*/
body {
  background: white;
  font: 12px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333333;
}

html,
button,
input,
select,
textarea {
  font: 10px sans-serif;
}

hr {
  clear: both;
  border: none;
  width: 90%;
  height: 1px;
  background: #999999;
  color: #999999;
  margin: 1em auto 1em;
  text-align: center;
}

#wrapper {
  width: 1002px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
  height: 150px;
  background: #ffe680;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
  width: 100%;
  padding: 0 0 100px;
  height: 1%;
  position: relative;
}

#middle:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

#container {
  width: 100%;
  float: left;
}

#content {
  padding: 0 250px 0 250px;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#side-left {
  float: left;
  width: 250px;
  margin-left: -100%;
  position: relative;
  background: #b5e3ff;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#side-right {
  float: left;
  margin-right: -3px;
  width: 250px;
  margin-left: -250px;
  position: relative;
  background: #ffacaa;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
  width: 100%;
  margin: -100px auto 0;
  height: 100px;
  background: #bff08e;
  position: relative;
}

#footer-block {
  margin: 0 auto;
  width: 1002px;
  height: 100%;
  background: #d8f5ba;
}

/*Base CSS*/
h1 {
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}
h3 small {
  font-size: 14px;
}

h4,
h5,
h6 {
  line-height: 18px;
}

h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

a {
  color: #049cdb;
  text-decoration: underline;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a:visited {
  color: #9d261d;
}
a:hover {
  text-decoration: none;
}

a.dashed {
  text-decoration: none;
  border-bottom: 1px dashed #049cdb;
}
a.dashed:hover {
  border-bottom: none;
}
a.dashed:visited {
  border-bottom: 1px dashed #9d261d;
}

a.psevdo {
  text-decoration: none;
}
a.psevdo span {
  color: #049cdb;
  text-decoration: underline;
}
a.psevdo:visited span {
  color: #9d261d;
}
a.psevdo:hover span {
  text-decoration: none;
}
a.psevdo:visited:hover span {
  color: #9d261d;
}

a.psevdo.dashed {
  border-bottom: none;
}
a.psevdo.dashed span {
  text-decoration: none;
  border-bottom: 1px dashed #049cdb;
}
a.psevdo.dashed:visited span {
  border-bottom: 1px dashed #9d261d;
}
a.psevdo.dashed:hover span {
  border-bottom: none;
}

.ico {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

#header .row-top {
  height: 0;
}
#header .row-middle {
  height: 0;
}
#header .row-bottom {
  height: 0;
}

#footer .row-top {
  height: 0;
}
#footer .row-middle {
  height: 0;
}
#footer .row-bottom {
  height: 0;
}

/*Blocks CSS*/
/*Misc CSS*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

ul.reset {
  margin: 0;
  padding: 0;
}
ul.reset li {
  list-style: none;
}

input.reset,
button.reset {
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.ok {
  color: #46a546;
}

.error {
  color: #9d261d;
}
