// Main.scss

// Row helpers
#header {
  .row-top {height:0;}
  .row-middle {height:0;}
  .row-bottom {height:0;}
}
#footer {
  .row-top {height:0;}
  .row-middle {height:0;}
  .row-bottom {height:0;}
}