// Main.scss

// Row helpers
#header {
  .row-top {height:50px;}
  .row-middle {height:50px;}
  .row-bottom {height:50px;}
}
.logo {
  margin: 7px 0 0 12px;  
  float: left;   
  h3 {  	
  	position: absolute;
  	left: 0;
  	top: 38px;
  	font-size: 18px;    
  	color: #282828;
    white-space: nowrap;  	
  }
}
#page-title {
  color: $headingColor;    
  font-size: 18px;
  font-weight: $headingFontWeight;
  font-family: $headingFontFamily;
  margin: 10px 25px;          
}
.copyright {
  float: left;  
  margin: 5px 0 0 0;       
}
.links {
  float: right;   
  margin: 12px 0 0 0;  
}
.address { 
  margin: 15px 0 0 0;
  padding: 0;  
}

#footer {
  .row-top {height:0;}
  .row-middle {height:0;}
  .row-bottom {height:0;}
}