// Scaffolding
// Basic and global styles for generating a grid system, structural layout, and page templates
// -------------------------------------------------------------------------------------------

/* Main
-----------------------------------------------------------------------------*/
body {
	background: $bodyBackground;
	font: #{$baseFontSize}/#{$baseLineHeight} $baseFontFamily;
	color: $baseTextColor;
}

// Addresses `font-family` inconsistency between `textarea` and other form
// elements.

html,
button,
input,
select,
textarea {
	  font: $inputsFontSize $inputsFontFamily;
}

// Hr normalize

hr {
	clear: both;	
	border: none;
	width: 90%;
	height: 1px;
	background: $hrColor;
	color: $hrColor;
	margin: 1em auto 1em;
	text-align: center;
}

#wrapper {
	@if $template == liquid {
		max-width: $wrapperWidthMax;    	
    min-width: $wrapperWidth;
	} @else	if $template == fixed {
		width: $wrapperWidth;
	} @else {
		@warn "Choose one of the templates";
	}	
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;	
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: $headerHeight;
	background: $headerBackground;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	@if $template == Equal {
		border-left: $sideLeftWidth solid $sideLeftBackground;
    border-right: $sideRightWidth solid $sideRightBackground;
	} 	
	width: 100%;
	padding: 0 0 $footerHeight;
	height: 1%;
	position: relative;
	background: $middleBackground;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	background: $containerBackground;
}
#content {
	padding: 0 $sideRightWidth + $contentRightPadding 0 $sideLeftWidth + $contentLeftPadding;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#side-left {
	float: left;
	width: $sideLeftWidth;
	margin-left: -100%;
	position: relative;
	background: $sideLeftBackground;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#side-right {
	float: left;
	margin-right: -3px;
	width: $sideRightWidth;
	margin-left: -#{$sideRightWidth};
	position: relative;
	background: $sideRightBackground;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	@if $template == liquid {
		max-width: $footerWidthMax;
    min-width: $footerWidthMin;
	} @else if $template == fixed {
		width: $footerWidth;
	}	@else {
		@warn "Choose one of the templates";
	}	
	margin: -#{$footerHeight} auto 0;
	height: $footerHeight;
	background: $footerBackground;
	position: relative;
}
#footer-block {
	margin: 0 auto;
	width: $wrapperWidth;
	height: 100%;
	background: $footerBlockBackground;
}