// Template type
// -------------------------
$template: fixed; // fixed || liquid // For other purposes use @media


// Sizes
// -------------------------
$baseWidth:            	  1002px;
$wrapperWidthMax:         1200px; // do not care if $template = fixed
$headerHeight:            150px;
$sideLeftWidth:           250px;
$sideRightWidth:          250px;
$contentLeftPadding:      0;
$contentRightPadding:     0;
$footerWidth:             100%;
$footerWidthMin:          $baseWidth; // do not care if $template = fixed
$footerWidthMax:          $wrapperWidthMax; // do not care if $template = fixed
$footerHeight:            100px;

// Backgrounds
// -------------------------
$bodyBackground:          #fff;
$headerBackground:        #ffe680;
$middleBackground:        null;
$containerBackground:     null;
$sideLeftBackground:      #b5e3ff;
$sideRightBackground:     #ffacaa;
$footerBackground:        #bff08e;
$footerBlockBackground:   #d8f5ba;