// Scaffolding ---------------------------------------------------------------------------------
// -------------------------

// Sizes
// -------------------------
$wrapperWidth:            1002px;
$headerHeight:            150px;
$sideLeftWidth:           250px;
$sideRightWidth:          250px;
$contentLeftPadding:      0;
$contentRightPadding:     0;
$footerHeight:            100px;

// Backgrounds
// -------------------------
$bodyBackground:          $white;
$headerBackground:        #ffe680;
$middleBackground:        null;
$containerBackground:     null;
$sideLeftBackground:      #b5e3ff;
$sideRightBackground:     #ffacaa;
$footerBackground:        #bff08e;
$footerBlockBackground:   #d8f5ba;
$hrColor:                 $grayLight;

// Links
// -------------------------
$linkColor:               $blue;
$linkColorVisited:        $red;
$linkColorHover:          null;
$linkFontFamily:          $sansFontFamily;


// Typography ---------------------------------------------------------------------------------
// -------------------------
$baseFontSize:            12px;
$baseFontFamily:          $sansFontFamily;
$baseLineHeight:          18px;
$baseTextColor:           $grayDark;
$altFontFamily:           $serifFontFamily;
$inputsFontFamily:        sans-serif;
$inputsFontSize:          10px;

$headingsFontFamily:      inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:      bold;    // instead of browser default, bold
$headingsColor:           inherit; // empty to use BS default, $textColor
$headingTextTransform:    uppercase;