@mixin text-overflow {
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
@mixin shorthand($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
 }