// Scaffolding
// Basic and global styles for generating a grid system, structural layout, and page templates
// -------------------------------------------------------------------------------------------
body {
	background: $bodyBackground;
	font: #{$baseFontSize}/#{$baseLineHeight} $baseFontFamily;
	color: $baseTextColor;
}

// Addresses `font-family` inconsistency between `textarea` and other form
// elements.

html,
button,
input,
select,
textarea {
	  font: $inputsFontSize $inputsFontFamily;
}

// Hr normalize

hr{
	clear: both;	
	border: none;
	width: 90%;
	height: 1px;
	background: $hrColor;
	color: $hrColor;
	margin: 20px auto 20px;
	text-align: center;
}

#wrapper {
	width: $wrapperWidth;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
#header {
	height: $headerHeight;
	background: #FFE680;
}
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 $footerHeight;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 $sideRightWidth 0 $sideLeftWidth;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: $sideLeftWidth;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: $sideRightWidth;
	margin-left: -#{$sideRightWidth};
	position: relative;
	background: #FFACAA;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 100%;
	margin: -#{$footerHeight} auto 0;
	height: $footerHeight;
	background: #BFF08E;
	position: relative;
	#footerBlock {
		margin: 0 auto;
		width: $wrapperWidth;
		height: 100%;
		background: #d8f5ba;
	}
}