// GLOBAL VALUES ---------------------------------------------------------------------------------
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;


// Scaffolding ---------------------------------------------------------------------------------
// -------------------------

// Sizes
// -------------------------
$wrapperWidth:            1002px;
$headerHeight:            150px;
$sideLeftWidth:           250px;
$sideRightWidth:          250px;
$footerHeight:            100px;

// Backgrounds
// -------------------------
$bodyBackground:         $white;
$headerBackground:       #ffe680;
$middleBackground:       null;
$containerBackground:    null;
$footerBackground:       #bff08e;
$footerBlockBackground:  #d8f5ba;
$hrColor:                $grayLight;

// Links
// -------------------------
$linkColor:             $blue;
$linkColorVisited:      $red;
$linkColorHover:        null;


// Typography ---------------------------------------------------------------------------------
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize:          12px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        18px;
$baseTextColor:         $grayDark;
$altFontFamily:         $serifFontFamily;
$inputsFontFamily:        sans-serif;
$inputsFontSize:          10px;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, $textColor


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #f9f9f9; // for striping
$tableBackgroundHover:              #f5f5f5; // for hover
$tableBorder:                       #ddd; // table and cell border