  
  <div id="header">
    <div class="row-top">
      <div class="logo">
        <a href="#">
          <img src="images/logo.png" title="Главная" alt="Главная">
        </a>        
      </div>
    </div>
    <div class="row-middle"></div>
    <div class="row-bottom">
      <form class="form search">
        <input class="text" type="text" title="искать на сайте" value="искать на сайте">
        <input class="btn" type="submit" value="Поиск">
      </form>
    </div>
    <div id="nav">
      <ul class="reset">
        <li><a href="#"></a></li>       
        <li class="active"><a href="#" class=""></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div><!-- #header-->  
