.breadcrumbs {
    background: none no-repeat scroll 0 0 transparent;    
    clear: both;
    color: #312410;
    font-size: 13px;    
    margin: 0 15px 15px;
    padding: 22px 11px 15px 0;
    a {
	    color: #0e236f;
	    margin: 0 5px;
	}
}