//
// Breadcrumbs
// <ul class="breadcrumbs">
//     <li><a href="#">Главная</a><span>/</span></li>    
//     <li><a href="#">Каталог</a><span>/</span></li>
//     <li>Товарная единица</li>
// </ul>
// --------------------------------------------------
.breadcrumbs {
  list-style: none;
  background-color: $white;  
  color: $baseTextColor;
  font-size: $baseFontSize;    
  margin: 0 0 15px;
  padding: 8px 10px;
  li {
    display: inline-block;
    @include inline-block(top);
    a {
      color: $linkColor;
      line-height: $baseLineHeight;      
    }    
    &:before {
      color: $linkColor;
      content: "/";
    }
    &:first-child:before {
      content: " ";
    }
  }  
}