//
// News
// --------------------------------------------------
// <div class="news-block">
//     <h3>Новости<a class="in" href="#">все новости</a></h3>
//     <div class="list-news">
//         <div class="news-box">
//             <span>12 марта 2012</span>
//             <div class="news-desc">Текст анонса</div>                       
//             <a href="#">подробнее</a>
//         </div>
//         <div class="news-box">
//             <span>12 марта 2012</span>
//             <div class="news-desc">Текст анонса</div>                      
//             <a href="#">подробнее</a>
//         </div>
//     </div>              
// </div>
// --------------------------------------------------
.news-block {
  clear:both;
  margin: 6px 0 0;    
  width: 280px;
  h3 {
    color: #303030;
    text-transform: uppercase;        
    a {
      color: #0e236f;
      font-size: 13px;        
      font-weight: normal;
      margin: 0 0 0 15px;
      text-transform: none;
    }
  }
  .list-nwes {
    padding: 0;
    .news-box {
      background: none no-repeat scroll 0 0 #f4f4f4;
      margin-bottom: 30px;
      padding: 15px 0;
      span {
        clear: both;
        color: #5e5e5e;
        display: block;
        font-size: 14px; 
        margin: 0 0 5px 0;       
      }    
      div.news-desc {
      	line-height: 18px;
    		color: #6A6A6A;
    		margin: 0 0 5px 0;
      }
      a {
        color: #0e236f;
        font-size: 13px;        
        font-weight: normal;
        margin: 0;
      }
    }
  }
}
h3 a.in, h2 a.in, h1 a.in {
  display: inline-block;
  font-family: Arial, Tahoma, San-serif;
  font-size: 12px;
  font-style: normal;
  margin-left: 10px;
  text-transform: none;
  word-spacing: normal;
}
