//
// Page navigation
// --------------------------------------------------
// <div class="navi">
// 		Страницы: 
// 	<span><<</span>
// 	<a class="afirst" href="#">предыдущая</a>
// 	<span><--</span>
// 	<a class="active" href="javascript:void(0)">1</a>
// 	<a href="#">2</a>
// 	<a href="#">3</a>
// 	<span>--></span>
// 	<a class="alast" href="#">следующая</a>
// 	<span>>></span>
// </div>
// --------------------------------------------------
.navi {	
  clear: both;
  padding: 15px 0 30px 0;
  margin: 0 17px 0 25px;    
  width: 90%;
  color: #8d8d8d;
  a {	    
    color: #746a45;
    display: inline-block;
    font-size: 12px;
    margin: 0 2px;
    padding: 2px 6px;	    
		&.afirst{
			margin: 0;
		}
		&.alast{
			margin: 0;
		}		
		&.active {
			background: #746a45;
		  color: #c3b580;
			cursor:default;
			text-decoration: none;
		}
	}
}