//
// Search block
// --------------------------------------------------
// <div class="search_block">
//     <form>
//         <input class="text" type="text" title="искать на сайте" value="искать на сайте">
//         <input class="button" type="submit" value="">
//     </form>
// </div>
// --------------------------------------------------
.search_block {	  
  float: right;
  height: 33px;
  margin: 28px 0 0 20px;
  width: 200px;  
  input.text {      
      border: none;        
      color: #cacaca;
      float: left;
      font-size: $inputsFontSize;
      font-style: italic;        
      margin: 8px 0 0 8px;
      outline: medium none;
      padding: 0;
      width: 155px;
      font-family: $inputsFontFamily;
      &:focus {
          color: #cacaca;    
      }
  }
  input.button {          
    border: medium none;
    cursor: pointer;
    float: right;    
    font-size: 11px;      
    height: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 32px;
    &:hover {
        font-weight: bold;    
    }
  }
}